config MFD_DMEC
	tristate "Data Modul Embedded Controller MFD"
	select MFD_CORE
	help
	    Say Y here to enable support for a Data Module embedded controller
	    found on Data Module CPU Modules

	    To compile this driver as a module, say M here: the module will be
            called dmec

config I2C_DMEC
	tristate "Data Modul I2C"
	depends on MFD_DMEC && I2C
	help
	  Say Y here to enable support for a i2c bus on the Data Modul
	  embedded controller.

	  To compile this driver as a module, say M here: the module will be
          called i2c-dmec

config GPIO_DMEC
	tristate "Data Modul GPIO"
	depends on MFD_DMEC && GPIOLIB
	help
	  Say Y here to enable support for a GPIOs on a Data Module embedded
	  controller.

	  To compile this driver as a module, say M here: the module will be
          called gpio-dmec

config WDT_DMEC
	tristate "Data Modul Watchdog"
	depends on MFD_DMEC
	select WATCHDOG_CORE
	help
	  Say Y to enable support for a watchdog on a Data Modul embedded
	  controllers.

	  To compile this driver as a module, say M here: the module will be
          called wdt-dmec

config RTM_DMEC
	tristate "Data Modul RTM"
	depends on MFD_DMEC
	help
	  Say Y to enable support for a running time meter(RTM) on a Data Modul
	  embedded controllers.

	  To compile this driver as a module, say M here: the module will be
          called wdt-dmec
