// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

#include "fsl-ls1046a.dtsi"
#include "fsl-ls1046a-miriac-mpxls1046.dtsi"

/ {
	model = "Microsys miriac SBC-LS1046A";
	compatible = "microsys,sbc1046a", "microsys,mpxls1046a", "fsl,ls1046a";

	aliases {
		ethernet0 = &enet2;
		ethernet1 = &enet4;
		ethernet2 = &enet5;
		ethernet3 = &enet6;

		serial0 = &duart0;
		serial1 = &duart1;
		serial2 = &duart2;
		serial3 = &duart3;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	eeprom@57 {
		compatible = "at24,24c128";
		reg = <0x57>;
	};
};

&i2c1 {
	status = "okay";
};

&ifc {
	nand@0,0 {
		partition@0 {
			reg = <0x0 0x00100000>;
			label = "NAND U-Boot Image";
			read-only;
		};

		partition@100000 {
			reg = <0x00100000 0x00100000>;
			label = "NAND U-Boot Env";
		};

		partition@200000 {
			reg = <0x00200000 0x01E00000>;
			label = "NAND FIT Image";
		};

		partition@02000000 {
			reg = <0x02000000 0x1e000000>;
			label = "NAND (RW) UBIFS Root File System";
		};
	};
};

#include "fsl-ls1046-post.dtsi"

&fman0 {
	compatible = "fsl,fman", "simple-bus";

	ethernet@e4000 {
		phy-handle = <&rgmii_phy1>;
		phy-connection-type = "rgmii";
	};

	ethernet@e8000 {
		phy-handle = <&sgmii_phy1>;
		phy-connection-type = "sgmii";
	};

	ethernet@ea000 {
		phy-handle = <&sgmii_phy2>;
		phy-connection-type = "sgmii";
	};

	ethernet@f0000 {
		phy-handle = <&sgmii_phy3>;
		phy-connection-type = "sgmii";
	};

	mdio@fc000 {
		rgmii_phy1: ethernet-phy@3 {
			reg = <3>;
		};

		sgmii_phy1: ethernet-phy@2 {
			reg = <2>;
		};

		sgmii_phy2: ethernet-phy@1 {
			reg = <1>;
		};

		sgmii_phy3: ethernet-phy@0 {
			reg = <0>;
		};
	};
};
