menuconfig SND_SOC_STM32_DFSDM
	tristate "SoC Audio support for STM32 DFSDM"
	depends on (ARCH_STM32 && OF && STM32_DFSDM_ADC) || COMPILE_TEST
	depends on SND_SOC
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select SND_SOC_DMIC
	help
	  Select this option to enable the STM32 Digital Filter
	  for Sigma Delta Modulators (DFSDM) driver used
	  in various STM32 series for digital microphone capture.