menuconfig THUNDERBOLT
	tristate "Thunderbolt support"
	depends on PCI
	depends on X86 || COMPILE_TEST
	select APPLE_PROPERTIES if EFI_STUB && X86
	select CRC32
	select CRYPTO
	select CRYPTO_HASH
	select NVMEM
	help
	  Thunderbolt Controller driver. This driver is required if you
	  want to hotplug Thunderbolt devices on Apple hardware or on PCs
	  with Intel Falcon Ridge or newer.

	  To compile this driver a module, choose M here. The module will be
	  called thunderbolt.

config THUNDERBOLT_NET
	tristate "Networking over Thunderbolt cable"
	depends on THUNDERBOLT && INET
	help
	  Select this if you want to create network between two
	  computers over a Thunderbolt cable. The driver supports Apple
	  ThunderboltIP protocol and allows communication with any host
	  supporting the same protocol including Windows and macOS.

	  To compile this driver a module, choose M here. The module will be
	  called thunderbolt-net.
