menuconfig THUNDERBOLT
	tristate "Thunderbolt(TM) support"
	depends on PCI
	select CRC32
	help
	  Thunderbolt(TM) Controller driver
	  This driver is required if you want to hotplug Thunderbolt(TM) devices.

	  Device chaining is currently not supported on Apple hardware.

	  To compile this driver a module, choose M here. The module will be
	  called thunderbolt.
