config FIRMWARE_GPIO_BCM2835
	tristate "BCM2835 Firmware GPIO"
	depends on OF_GPIO && (ARCH_BCM2835 || COMPILE_TEST)
	help
	  Turn on GPIO support for Broadcom chips using the firmware mailbox
	  to communicate with VideoCore on BCM283x chips.
