/dts-v1/;
#include "bcm2837.dtsi"
#include "../../../../arm/boot/dts/bcm2835-rpi.dtsi"
#include "../../../../arm/boot/dts/bcm283x-rpi-smsc9514.dtsi"

/ {
	compatible = "raspberrypi,3-model-b", "brcm,bcm2837";
	model = "Raspberry Pi 3 Model B";

	memory {
		reg = <0 0x40000000>;
	};

	leds {
		act {
			gpios = <&gpio 47 0>;
		};

		pwr {
			label = "PWR";
			gpios = <&gpio 35 0>;
			default-state = "keep";
			linux,default-trigger = "default-on";
		};
	};

	soc {
		fxl6408: firmware-gpio-128 {
			compatible = "raspberrypi,firmware-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			firmware = <&firmware>;
			ngpios = <8>;
			gpio-line-names = "BT_ON", "WL_ON", "", "LAN_RUN", "HPD_N", "CAM_GPIO0", "CAM_GPIO1", "PWR_LOW_N";

			raspberrypi,firmware-gpio-offset = <128>;
		};
	};
};

&uart1 {
	status = "okay";
};

&hdmi {
	hpd-gpios = <&fxl6408 4 GPIO_ACTIVE_HIGH>;
};
