#
# Timers drivers

menu "Timers"

config IIO_STM32_TIMER_TRIGGER
	tristate "STM32 Timer Trigger"
	depends on (ARCH_STM32 && OF && MFD_STM32_GP_TIMER) || COMPILE_TEST
	select IIO_TRIGGERED_EVENT
	help
	  Select this option to enable STM32 Timer Trigger

endmenu
