config ZINC_CHACHA20
	tristate
	select CRYPTO_ALGAPI

config ZINC_POLY1305
	tristate

config ZINC_DEBUG
	bool "Zinc cryptography library debugging and self-tests"
	help
	  This builds a series of self-tests for the Zinc crypto library, which
	  help diagnose any cryptographic algorithm implementation issues that
	  might be at the root cause of potential bugs. It also adds various
	  debugging traps.

	  Unless you're developing and testing cryptographic routines, or are
	  especially paranoid about correctness on your hardware, you may say
	  N here.

config ZINC_ARCH_ARM
	def_bool y
	depends on ARM && !64BIT

config ZINC_ARCH_ARM64
	def_bool y
	depends on ARM64 && 64BIT

config ZINC_ARCH_X86_64
	def_bool y
	depends on X86_64 && 64BIT
	depends on !UML

config ZINC_ARCH_MIPS
	def_bool y
	depends on MIPS && CPU_MIPS32_R2 && !64BIT

config ZINC_ARCH_MIPS64
	def_bool y
	depends on MIPS && 64BIT
