#
# Kconfig for ISP driver
#

config VIDEO_ATOMISP
       tristate "Intel Atom Image Signal Processor Driver"
       depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
       select VIDEOBUF_VMALLOC
        ---help---
          Say Y here if your platform supports Intel Atom SoC
          camera imaging subsystem.
          To compile this driver as a module, choose M here: the
          module will be called atomisp

choice
        prompt "Intel Atom Image Signal Processor Driver Type"
        depends on VIDEO_ATOMISP
        default VIDEO_ATOMISP_ISP2400
        help
          Intel Atom Image Signal Processor Driver actually doesn't support
          dynamically all SoC.
          So need to choose at compilation time which SoC it can support.
          Please refer to staging TODO for more details.

config VIDEO_ATOMISP_ISP2400
        bool "ISP2400"
        help
          Atom ISP for Merrifield, Baytrail SoC.

config VIDEO_ATOMISP_ISP2401
        bool "ISP2401"
        help
          Atom ISP for Anniedale (Merrifield+ / Moorefield), Cherrytrail SoC.

endchoice

