config SCSI_EMCCTD
	tristate "EMC Cut-Through client driver"
	depends on SCSI && PCI && X86
	help
		This driver supports EMC virtual PCI Cut-Through-Device.
		To compile this driver as a module, choose M here: the
		module will be called emcctd.
