#
# PCI Express Device DPC Configuration
#

config PCIEDPC
	tristate "PCI-e Downstream Port Containment support"
	depends on PCIEPORTBUS
	default n
	help
	  This enables PCI-Express Downstream Port Containment (DPC)
	  driver support. DPC events from Root and Downstream ports
	  will be handled by the DPC driver. If your system doesn't
	  have this capability or you do not want to use this feature,
	  it is safe to answer N.

	  To compile this driver as a module, choose M here: the module
	  will be called dpcdrv.

