menu "DRM Clients"
	depends on DRM

config DRM_CLIENT_FBDEV
	tristate "Generic fbdev emulation"
	depends on DRM
	select FB
	select FRAMEBUFFER_CONSOLE if !EXPERT
	select FRAMEBUFFER_CONSOLE_DETECT_PRIMARY if FRAMEBUFFER_CONSOLE
	select FB_SYS_FOPS
	select FB_SYS_FILLRECT
	select FB_SYS_COPYAREA
	select FB_SYS_IMAGEBLIT
	select FB_DEFERRED_IO
	select FB_MODE_HELPERS
	select VIDEOMODE_HELPERS
	help
	  Generic fbdev emulation

endmenu
