CONFIG_CORENET_GENERIC=y
CONFIG_USERLIB=y
CONFIG_GPIO_GENERIC_PLATFORM=y
CONFIG_POWER_SUPPLY=y
CONFIG_POWER_RESET=y
CONFIG_POWER_RESET_GPIO=y
CONFIG_POWER_RESET_GPIO_RESTART=y
CONFIG_RESET_CONTROLLER=y
CONFIG_EXT3_FS=y
