#
# (C) Copyright 2017 Adaptrum, Inc.
# Written by Alexandru Gagniuc <alex.g@adaptrum.com> for Adaptrum, Inc.
# Licensed under the GPLv2 or (at your option) any later version.
#

menuconfig ARC_PLAT_ANARION
	bool "Adaptrum Anarion based platforms"
	help
	  Support for Adaptrum Anarion based ARC platforms.
