config CRYPTO_DEV_CCP_CRYPTO
	tristate "Support for AMD Cryptographic Coprocessor"
	default n
	select AMD_CCP
	select CRYPTO_HASH
	select CRYPTO_BLKCIPHER
	select CRYPTO_AUTHENC
	help
	  Support for using the cryptographic API with the AMD Cryptographic
	  Coprocessor. This module supports offload of SHA and AES algorithms.
	  If you choose 'M' here, this module will be called ccp_crypto.
