#
# MediaTek SoC drivers
#
config MTK_INFRACFG
	bool "MediaTek INFRACFG Support"
	depends on ARCH_MEDIATEK || COMPILE_TEST
	select REGMAP
	help
	  Say yes here to add support for the MediaTek INFRACFG controller. The
	  INFRACFG controller contains various infrastructure registers not
	  directly associated to any device.

config MTK_PMIC_WRAP
	tristate "MediaTek PMIC Wrapper Support"
	depends on ARCH_MEDIATEK
	depends on RESET_CONTROLLER
	select REGMAP
	help
	  Say yes here to add support for MediaTek PMIC Wrapper found
	  on different MediaTek SoCs. The PMIC wrapper is a proprietary
	  hardware to connect the PMIC.

config MTK_SCPSYS
	bool
	select REGMAP
	select MTK_INFRACFG
	select PM_GENERIC_DOMAINS if PM
	help
	  MediaTek SCPSYS power domain support.

config MTK_SCPSYS_MT8173
	bool "MediaTek MT8173 SCPSYS Support"
	depends on ARCH_MEDIATEK || COMPILE_TEST
	select MTK_SCPSYS
	default ARCH_MEDIATEK
	help
	  Say yes here to add support for the MT8173 SCPSYS power domain
	  driver.
	  The System Control Processor System (SCPSYS) has several power
	  management related tasks in the system.

config MTK_SCPSYS_MT2701
	bool "SCPSYS Support MediaTek MT2701"
	depends on ARCH_MEDIATEK || COMPILE_TEST
	select MTK_SCPSYS
	default ARCH_MEDIATEK
	help
	  Say yes here to add support for the MT2701 SCPSYS power domain
	  driver.
	  The System Control Processor System (SCPSYS) has several power
	  management related tasks in the system.
