#
# Microchip network device configuration
#

config NET_VENDOR_MICROCHIP
	bool "Microchip devices"
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Microchip cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_MICROCHIP

config ENC28J60
	tristate "ENC28J60 support"
	depends on SPI
	select CRC32
	---help---
	  Support for the Microchip EN28J60 ethernet chip.

	  To compile this driver as a module, choose M here. The module will be
	  called enc28j60.

config ENC28J60_WRITEVERIFY
	bool "Enable write verify"
	depends on SPI
	depends on ENC28J60
	---help---
	  Enable the verify after the buffer write useful for debugging purpose.
	  If unsure, say N.

config ENCX24J600
    tristate "ENCX24J600 support"
    depends on SPI
    ---help---
      Support for the Microchip ENC424J600/624J600 ethernet chip.

      To compile this driver as a module, choose M here. The module will be
      called encx24j600.

config MCHP9352
	tristate "LAN9352 embedded ethernet support"
	depends on HAS_IOMEM
	select CRC32
	select MII
	select PHYLIB
	---help---
	  The LAN9352 is a 2-Port 10/100 Managed Ethernet Switch with
	  16-Bit Non-PCI CPU Interface. The CPU interface includes a basic
	  ethernet controller interface whose virtual phy is connected
	  internally to a 3rd port on the embedded switch.

	  This driver only operates as a simple ethernet controller
	  on the CPU interface. Since this interface is connected directly
	  to the embedded switch, the result is that traffic can be sent and
	  received on both physical ports.

	  No managed switch features are yet supported by this driver.
	  1588 features are not yet supported by this driver.

	  May support LAN9250, LAN9311, and LAN9312, but these products
	  were not tested.

	  Say Y here if you want support for MICROCHIP LAN9352 as a simple
	  ethernet controller.

	  To compile this driver as a module, choose M here. The module
	  will be called mchp9352.


endif # NET_VENDOR_MICROCHIP
