
config VFIO_MDEV
    tristate "Mediated device driver framework"
    depends on VFIO
    default n
    help
        Provides a framework to virtualize device.
	See Documentation/vfio-mediated-device.txt for more details.

        If you don't know what do here, say N.

config VFIO_MPCI
    tristate "VFIO support for Mediated PCI devices"
    depends on VFIO && PCI && VFIO_MDEV
    default n
    help
        VFIO based driver for mediated PCI devices.

