/*
 * Copyright (C) 2015 Microchip Technology Inc.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pic32mzda.h>

#include "pic32mzda.dtsi"

/ {
	compatible = "microchip,pic32mzda-sk", "microchip,pic32mzda";
	model = "Microchip PIC32MZDA Starter Kit";

	memory {
		device_type = "memory";
		reg = <0x08000000 0x08000000>;
	};

	chosen {
		bootargs = "earlyprintk=ttyS1,115200n8r console=ttyS1,115200n8";
	};

	leds0 {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&user_leds_s0>;

		led@1 {
			label = "pic32mzda_sk:red:led1";
			gpios = <&pioH 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		led@2 {
			label = "pic32mzda_sk:yellow:led2";
			gpios = <&pioH 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};

		led@3 {
			label = "pic32mzda_sk:green:led3";
			gpios = <&pioH 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	keys0 {
		compatible = "gpio-keys-polled";
		pinctrl-0 = <&user_buttons_s0>;
		pinctrl-names = "default";

		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <300>;

		button@sw1 {
			label = "ESC";
			linux,code = <1>;
			gpios = <&pioB 12 0>;
		};

		button@sw2 {
			label = "Home";
			linux,code = <102>;
			gpios = <&pioB 13 0>;
		};

		button@sw3 {
			label = "Menu";
			linux,code = <139>;
			gpios = <&pioB 14 0>;
		};
	};
};

&usart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&sdhci {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhc1>;
	status = "okay";
};

&pic32_pinctrl {

	sdhc1 {
		pinctrl_sdhc1: sdhc1_pins0 {
			/* SDCLK */
			pic32,single-pins = <PORT_A 6 PIC32_PIN_CONF_DG>,
				<PORT_D 4 PIC32_PIN_CONF_DG>,	  /* SDCMD */
				<PORT_G 13 PIC32_PIN_CONF_DG>,	  /* SDDATA0 */
				<PORT_G 12 PIC32_PIN_CONF_DG>,	  /* SDDATA1 */
				<PORT_G 14 PIC32_PIN_CONF_DG>,	  /* SDDATA2 */
				<PORT_A 7 PIC32_PIN_CONF_DG>,	  /* SDDATA3 */
				<PORT_A 0 PIC32_PIN_CONF_DG>;	  /* SDCD */
		};
	};

	leds {

		user_leds_s0: user_leds_s0 {
			pic32,single-pins = <PORT_H 0 PIC32_PIN_CONF_DG_OUT
				PORT_H 1 PIC32_PIN_CONF_DG_OUT
				PORT_H 2 PIC32_PIN_CONF_DG_OUT>;
		};
	};

	buttons0 {
		user_buttons_s0: user_buttons_s0 {
			pic32,single-pins = <PORT_B 12 PIC32_PIN_CONF_PU_IN
				PORT_B 13 PIC32_PIN_CONF_PU_IN
				PORT_B 14 PIC32_PIN_CONF_PU_IN>;
		};
	};

	uart2 {
		pinctrl_uart2: uart2-0 {
			pic32,pins = <PIC32_RP_OUT_RPG9 PIC32_PP_OUT_U2TX
					PIC32_PIN_CONF_DG_OUT
				PIC32_RP_IN_RPB0 PIC32_PP_IN_U2RX
					PIC32_PIN_CONF_DG_IN>;
		};
	};

	uart4 {
		pinctrl_uart4: uart4-0 {
			pic32,pins = <PIC32_RP_OUT_RPC3 PIC32_PP_OUT_U4TX
					PIC32_PIN_CONF_DG_OUT
				PIC32_RP_IN_RPE8 PIC32_PP_IN_U4RX
					PIC32_PIN_CONF_DG_IN>;
		};
	};
};
