menuconfig ARCH_QCOM
	bool "Qualcomm Support" if ARCH_MULTI_V7
	select ARCH_SUPPORTS_BIG_ENDIAN
	select ARM_GIC
	select ARM_AMBA
	select PINCTRL
	select QCOM_SCM if SMP
	help
	  Support for Qualcomm's devicetree based systems.

if ARCH_QCOM

config HAVE_CLKSRC_QCOM
	bool "Support platforms with qcom clocksource"
	default y
	select CLKSRC_QCOM
	help
	  Select this option if you want to support platforms
	  with the qcom clocksource such as MSM8660 and MSM8960.

endif
