
menu "USB PD and Type-C drivers"

config TYPEC
	tristate

config TYPEC_UCSI
	tristate "USB Type-C Connector System Software Interface"
	select TYPEC
	help
	  USB Type-C Connector System Software Interface (UCSI) describes the
	  registers and data structures used to interface with the USB Type-C
	  connectors on a system.

if TYPEC_UCSI

config TYPEC_UCSI_ACPI
	tristate "UCSI ACPI Driver"
	depends on ACPI
	help
	  Driver for ACPI enumerated UCSI devices.

endif

endmenu
