config COMMON_CLK_SAMSUNG
	bool
	select COMMON_CLK

# ARMv7 SoCs:
config S3C2410_COMMON_CLK
	bool
	select COMMON_CLK_SAMSUNG
	help
	  Build the s3c2410 clock driver based on the common clock framework.

config S3C2410_COMMON_DCLK
	bool
	select COMMON_CLK_SAMSUNG
	select REGMAP_MMIO
	help
	  Temporary symbol to build the dclk driver based on the common clock
	  framework.

config S3C2412_COMMON_CLK
	bool
	select COMMON_CLK_SAMSUNG

config S3C2443_COMMON_CLK
	bool
	select COMMON_CLK_SAMSUNG

# ARMv8 SoCs:
config EXYNOS5433_COMMON_CLK
	bool
	depends on ARM64 || COMPILE_TEST
	default ARCH_EXYNOS
	select COMMON_CLK_SAMSUNG

config EXYNOS7_COMMON_CLK
	bool
	depends on ARM64 || COMPILE_TEST
	default ARCH_EXYNOS
	select COMMON_CLK_SAMSUNG
