/* -*- coding: utf-8; mode: css -*-
 *
 * This is a customization of the "Read The Doc" (RTD) theme.
 *
 */

@media screen {

    /* inline literal: drop the borderbox and red color */

    code,.rst-content tt,.rst-content code {
        color: inherit;
        border: none;
        background: inherit;
        font-size: 85%;
    }

    .rst-content tt.literal,.rst-content tt.literal,.rst-content code.literal {
        color: inherit;
    }

    /* captions:
     *
     *   - captions should have 100% (not 85%) font size
     *   - hide the permalink symbol as long as link is not hovered
     */

    caption, .wy-table caption, .rst-content table.field-list caption {
        font-size: 100%;
    }

    caption a.headerlink { opacity: 0; }
    caption a.headerlink:hover { opacity: 1; }

    /* table:
     *
     *   - Sequences of whitespace should collapse into a single whitespace.
     *   - make the overflow auto (scrollbar if needed)
     *   - align caption "left" ("center" is unsuitable on vast tables)
     */

    .wy-table-responsive table td { white-space: normal; }
    .wy-table-responsive { overflow: auto; }
    .rst-content table.docutils caption { text-align: left; font-size: 100%; }
}
