/*
 * Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include <dt-bindings/mfd/max77620.h>
#include <dt-bindings/gpio/tegra-gpio.h>

/ {
	i2c@7000d000 {
		status = "okay";
		spmic:system-pmic@3c {
			compatible = "maxim,max77620";
			reg = <0x3c>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_NONE>;

			#interrupt-cells = <2>;
                        interrupt-controller;

			gpio-controller;
			#gpio-cells = <2>;

			pinctrl-names = "default";
			pinctrl-0 = <&spmic_pin_defaults>;

			spmic_pin_defaults: spmic_pin_defaults {
				pin_gpio0 {
					pins = "gpio0";
					function = "gpio";
				};

				pin_gpio1 {
					pins = "gpio1";
					function = "fps-out";
					drive-push-pull = <1>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_0>;
					maxim,active-fps-power-up-slot = <7>;
					maxim,active-fps-power-down-slot = <0>;
				};

				pin_gpio2_3 {
					pins = "gpio2", "gpio3";
					function = "fps-out";
					maxim,active-fps-source = <MAX77620_FPS_SRC_0>;
				};

				pin_gpio4 {
					pins = "gpio4";
					function = "32k-out1";
				};

				pin_gpio5_6_7 {
					pins = "gpio5", "gpio6", "gpio7";
					function = "gpio";
					drive-push-pull = <1>;
				};
			};

			fps {
				fps0 {
					maxim,shutdown-fps-time-period-us =  <5120>;
					maxim,fps-event-source = <MAX77620_FPS_EVENT_SRC_EN0>;
				};

				fps1 {
					maxim,shutdown-fps-time-period-us = <5120>;
					maxim,fps-event-source = <MAX77620_FPS_EVENT_SRC_EN1>;
					maxim,device-state-on-disabled-event = <MAX77620_FPS_INACTIVE_STATE_SLEEP>;
				};

				fps2 {
					maxim,fps-event-source = <MAX77620_FPS_EVENT_SRC_EN0>;
				};
			};

			regulators {
				in-ldo0-1-supply = <&spmic_sd2>;
				in-ldo7-8-supply = <&spmic_sd2>;

				spmic_sd0: sd0 {
					regulator-name = "vdd_core";
					regulator-min-microvolt = <600000>;
					regulator-max-microvolt = <1400000>;
					regulator-boot-on;
					regulator-always-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					regulator-enable-ramp-delay = <146>;
					regulator-ramp-delay = <9000>;
					maxim,ramp-rate-setting = <27500>;
				};

				spmic_sd1: sd1 {
					regulator-name = "vddio-ddr";
					regulator-always-on;
					regulator-boot-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_0>;
					regulator-enable-ramp-delay = <130>;
					regulator-ramp-delay = <9000>;
					maxim,ramp-rate-setting = <27500>;
				};

				spmic_sd2: sd2 {
					regulator-name = "vdd-pre-reg";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					regulator-enable-ramp-delay = <176>;
					regulator-ramp-delay = <7800>;
					maxim,ramp-rate-setting = <27500>;
				};

				spmic_sd3: sd3 {
					regulator-name = "vdd-1v8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_0>;
					regulator-enable-ramp-delay = <242>;
					regulator-ramp-delay = <7800>;
					maxim,ramp-rate-setting = <27500>;
				};

				spmic_ldo0: ldo0 {
					regulator-name = "avdd-sys";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <26>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo1: ldo1 {
					regulator-name = "vdd-pex";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					regulator-always-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					regulator-enable-ramp-delay = <22>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo2: ldo2 {
					regulator-name = "vddio-sdmmc1";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <62>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo3: ldo3 {
					regulator-name = "vdd-cam-hv";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <50>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo4: ldo4 {
					regulator-name = "vdd-rtc";
					regulator-min-microvolt = <850000>;
					regulator-max-microvolt = <850000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_0>;
					regulator-enable-ramp-delay = <22>;
					regulator-ramp-delay = <100000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo5: ldo5 {
					regulator-name = "avdd-ts-hv";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-enable-ramp-delay = <62>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo6: ldo6 {
					regulator-name = "vdd-ts";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					maxim,active-fps-power-up-slot = <7>;
					maxim,active-fps-power-down-slot = <0>;
					regulator-enable-ramp-delay = <36>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo7: ldo7 {
					regulator-name = "vdd-gen-pll-edp";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					regulator-always-on;
					regulator-boot-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					regulator-enable-ramp-delay = <24>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};

				spmic_ldo8: ldo8 {
					regulator-name = "vdd-hdmi-dp";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					regulator-always-on;
					maxim,active-fps-source = <MAX77620_FPS_SRC_1>;
					regulator-enable-ramp-delay = <22>;
					regulator-ramp-delay = <50000>;
					maxim,ramp-rate-setting = <100000>;
				};
			};
		};
	};

	fixed-regulators {
		compatible = "simple-bus";
		device_type = "fixed-regulators";
		#address-cells = <1>;
		#size-cells = <0>;

		battery_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "vdd-ac-bat";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		vdd_3v3: regulator@1 { /* SPMIC GPIO3 FPS controlled */
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "vdd-3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-enable-ramp-delay = <160>;
		};

		avdd_io_edp_1v05: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "avdd-io-edp-1v05";
			regulator-min-microvolt = <1050000>;
			regulator-max-microvolt = <1050000>;
			regulator-boot-on;
			gpio = <&spmic 7 0>;
			enable-active-high;
			regulator-enable-ramp-delay = <240>;
			vin-supply = <&spmic_ldo7>;
		};
	};
};
