#
# Soundwire subsystem configuration
#

menuconfig SOUNDWIRE
	bool "Soundwire support"
	---help---
	  Soundwire is a 2-Pin interface with data and clock line ratified
	  by the MIPI Alliance. SoundWire is used for transporting data typically
	  related to audio functions. SoundWire interface is optimized to integrate
	  audio devices in mobile or mobile inspired systems.

if SOUNDWIRE

comment "SoundWire Devices"

config SOUNDWIRE_BUS
	tristate
	default SOUNDWIRE

config SOUNDWIRE_CADENCE
	tristate "Intel Soundwire driver for CADENCE Controller"
	depends on SOUNDWIRE_BUS
	---help---
	  If you have an Intel device with Soundwire controller then
	  enable this config option to get the soundwire support for your
	  device

endif
