config MEDIA_IMX
	tristate "Multimedia Support for Freescale i.MX"
	depends on MEDIA_CONTROLLER
	default y if IMX_IPUV3_CORE
	---help---
	  This driver provides a SoC wide media controller device that all
	  multimedia components in i.MX5 and i.MX6 SoCs can register with.

config MEDIA_IMX_MIPI_CSI2
	tristate "i.MX MIPI CSI-2 Host Controller"
	depends on VIDEO_V4L2_SUBDEV_API
	help
	  This driver provides support for the MIPI CSI-2 Host Controller that
	  is connected to the IPU CSI input multiplexers on i.MX6 SoCs.

config VIDEO_IMX_IPU_COMMON
	tristate

config VIDEO_IMX_IPU_CAPTURE
	tristate "i.MX5/6 Video Capture driver"
	depends on IMX_IPUV3_CORE && VIDEO_V4L2_SUBDEV_API && MEDIA_IMX
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_IMX_IPU_COMMON
	select VIDEO_IMX_IPUV3
	help
	  This is a v4l2 video capture driver for the IPUv3 on i.MX5/6.

config VIDEO_IMX_IPU_CSI
	tristate "i.MX5/6 CMOS Sensor Interface driver"
	depends on VIDEO_DEV && IMX_IPUV3_CORE && MEDIA_IMX
	select VIDEO_IMX_IPUV3
	---help---
	  This is a v4l2 subdevice driver for two CSI modules in each IPUv3.
