menu "Performance monitoring"

config PERF_EVENTS_INTEL_UNCORE
	tristate "Intel uncore performance events"
	depends on PERF_EVENTS && CPU_SUP_INTEL && PCI
	default y
	---help---
	Include support for Intel uncore performance events. These are
	available on NehalemEX and more modern processors.

config PERF_EVENTS_INTEL_BM
	tristate "Intel Branch Monitoring support"
	depends on PERF_EVENTS && CPU_SUP_INTEL && PCI
	---help---
          Include support for Intel Branch monitoring. This is disabled by
          default in the kernel. This feature utilizes heuristics for
          detecting ROP(Return oriented programming) attacks and lets the
          anti-malware software know of its occurrence. These heuristics
          are based off certain performance monitoring statistics, measured
          dynamically over a short configurable window period.

config PERF_EVENTS_INTEL_RAPL
	tristate "Intel rapl performance events"
	depends on PERF_EVENTS && CPU_SUP_INTEL && PCI
	default y
	---help---
	Include support for Intel rapl performance events for power
	monitoring on modern processors.

config PERF_EVENTS_INTEL_CSTATE
	tristate "Intel cstate performance events"
	depends on PERF_EVENTS && CPU_SUP_INTEL && PCI
	default y
	---help---
	Include support for Intel cstate performance events for power
	monitoring on modern processors.

config PERF_EVENTS_AMD_POWER
	depends on PERF_EVENTS && CPU_SUP_AMD
	tristate "AMD Processor Power Reporting Mechanism"
	---help---
	  Provide power reporting mechanism support for AMD processors.
	  Currently, it leverages X86_FEATURE_ACC_POWER
	  (CPUID Fn8000_0007_EDX[12]) interface to calculate the
	  average power consumption on Family 15h processors.

endmenu
