menu "i.MX5/6 Camera Sub devices"

config IMX_MIPI_CSI2
       tristate "MIPI CSI2 Receiver Driver"
       depends on VIDEO_IMX_CAMERA
       default y
       ---help---
         MIPI CSI-2 Receiver driver support. This driver is required
	 for sensor drivers with a MIPI CSI2 interface.

config IMX_VIDEO_SWITCH
	tristate "i.MX5/6 Video Bus Multiplexer"
	depends on VIDEO_IMX_CAMERA
	default y
	---help---
	  This driver provides support for the i.MX5/6 internal video bus
	  multiplexer controlled by register bitfields as well as
	  external multiplexers controller by a GPIO.

config IMX_CAMERA_OV5640_MIPI
       tristate "OmniVision OV5640 MIPI CSI-2 camera support"
       depends on VIDEO_IMX_CAMERA
       select IMX_MIPI_CSI2
       default y
       ---help---
         MIPI CSI-2 OV5640 Camera support.

endmenu
