menu "i.MX5/6 Camera Sub devices"

config IMX_MIPI_CSI2
       tristate "MIPI CSI2 Receiver Driver"
       depends on VIDEO_IMX_CAMERA
       default y
       ---help---
         MIPI CSI-2 Receiver driver support. This driver is required
	 for sensor drivers with a MIPI CSI2 interface.

endmenu
