/*
 * Copyright (c) 2016 HiSilicon Technologies Co., Ltd.
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


/dts-v1/;
#include "hi3516cv300.dtsi"

/ {
	model = "Hisilicon Hi3516CV300 DEMO Board";
	compatible = "hisilicon,hi3516cv300";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		i2c0 = &i2c_bus0;
		i2c1 = &i2c_bus1;
		spi0 = &spi_bus0;
		spi1 = &spi_bus1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>;
	};
};

&dual_timer0 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

&pwm {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&i2c_bus0 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pmux>;
};

&i2c_bus1 {
	status = "okay";
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pmux>;
};

&spi_bus0{
	status = "disabled";
	num-cs = <1>;
	cs-gpios = <&gpio_chip0 6 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pmux>;
};

&spi_bus1{
	status = "okay";
	num-cs = <2>;
	cs-gpios = <&gpio_chip5 3 0>, <&gpio_chip5 4 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pmux>;
};

&fmc {
	spi-nor@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <160000000>;
		m25p,fast-read;
	};
};

&mdio {
	phy0: phy@1 {
		reg = <1>;
	};
};

&hisi_femac {
	mac-address = [00 00 00 00 00 00];
	phy-mode = "rmii";
	phy-handle = <&phy0>;
	hisilicon,phy-reset-delays-us = <10000 10000 150000>;
};

&dmac {
	status = "okay";
};

&pmux {
	i2c0_pmux: i2c0_pmux {
		pinctrl-single,pins = <
			0x2c 0x3
			0x30 0x3>;
	};

	i2c1_pmux: i2c1_pmux {
		pinctrl-single,pins = <
			0x20 0x1
			0x24 0x1>;
	};

	spi0_pmux: spi0_pmux {
		pinctrl-single,pins = <
			0x28 0x1
			0x2c 0x1
			0x30 0x1
			0x34 0x1>;
	};

	spi1_pmux: spi1_pmux {
		pinctrl-single,pins = <
			0xc4 0x1
			0xc8 0x1
			0xcc 0x1
			0xd0 0x1
			0xd4 0x1>;
	};
};
