/*
 * Copyright 2013 Freescale Semiconductor, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

/dts-v1/;
#include "vf610-zii-dev.dtsi"

/ {
	model = "ZII VF610 Development Board, Rev A";
	compatible = "zii,vf610dev-a", "zii,vf610dev", "fsl,vf610";

	chosen {
		bootargs = "console=ttyLP0,115200n8";
		stdout-path = &uart0;
	};

	memory {
		reg = <0x80000000 0x8000000>;
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-0 = <&pinctrl_leds_debug>;
		pinctrl-names = "default";

		debug_1 {
			label = "zii:green:debug1";
			gpios = <&gpio3 22 GPIO_ACTIVE_HIGH>;
		};
	};

	dsa@0 {
		compatible = "marvell,dsa";
		#address-cells = <2>;
		#size-cells = <0>;

		dsa,ethernet = <&fec1>;
		dsa,mii-bus = <&mdio1>;

		/* 6352 - Primary - 7 ports */
		switch0: switch@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x02 0>;
			eeprom-length = <512>;

			port@0 {
				reg = <0>;
				label = "lan0";
			};

			port@1 {
				reg = <1>;
				label = "lan1";
			};

			port@2 {
				reg = <2>;
				label = "lan2";
			};

			port@3 {
				reg = <3>;
				label = "lan3";
			};

			port@4 {
				reg = <4>;
				label = "lan4";
			};

			switch0port5: port@5 {
				reg = <5>;
				label = "dsa";
				phy-mode = "rgmii-txid";
				link = <&switch1port6
					&switch2port9>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@6 {
				reg = <6>;
				label = "cpu";
				fixed-link {
					speed = <100>;
					full-duplex;
				};
			};

		};

		/* 6352 - Secondary - 7 ports */
		switch1: switch@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x04 1>;
			eeprom-length = <512>;

			port@0 {
				reg = <0>;
				label = "lan5";
			};

			port@1 {
				reg = <1>;
				label = "lan6";
			};

			port@2 {
				reg = <2>;
				label = "lan7";
			};

			port@3 {
				reg = <3>;
				label = "lan8";
			};

			switch1port4: port@4 {
				reg = <4>;
				label = "dsa";
				link = <&switch2port9>;
			};

			switch1port6: port@6 {
				reg = <6>;
				label = "dsa";
				phy-mode = "rgmii-txid";
				link = <&switch0port5>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};

		/* 6185 - 10 ports */
		switch2: switch@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x06 2>;

			port@1 {
				reg = <1>;
				label = "optical3";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			port@2 {
				reg = <2>;
				label = "optical4";
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};

			switch2port9: port@9 {
				reg = <9>;
				label = "dsa";
				link = <&switch1port4
					&switch0port5>;
			};
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c_mux_reset>;

	vf610-zii {
		pinctrl_leds_debug: pinctrl-leds-debug {
			fsl,pins = <
				 VF610_PAD_PTE13__GPIO_118	0x31c2
				 >;
		};

		pinctrl_i2c_mux_reset: pinctrl-i2c-mux-reset {
			fsl,pins = <
				 VF610_PAD_PTE14__GPIO_119	0x31c2
				 >;
		};

		pinctrl_adc0_ad5: adc0ad5grp {
			fsl,pins = <
				VF610_PAD_PTC30__ADC0_SE5		0xa1
			>;
		};

		pinctrl_esdhc1: esdhc1grp {
			fsl,pins = <
				VF610_PAD_PTA24__ESDHC1_CLK	0x31ef
				VF610_PAD_PTA25__ESDHC1_CMD	0x31ef
				VF610_PAD_PTA26__ESDHC1_DAT0	0x31ef
				VF610_PAD_PTA27__ESDHC1_DAT1	0x31ef
				VF610_PAD_PTA28__ESDHC1_DATA2	0x31ef
				VF610_PAD_PTA29__ESDHC1_DAT3	0x31ef
				VF610_PAD_PTA7__GPIO_134	0x219d
			>;
		};

		pinctrl_fec1: fec1grp {
			fsl,pins = <
				VF610_PAD_PTA6__RMII_CLKIN		0x30d1
				VF610_PAD_PTC9__ENET_RMII1_MDC		0x30d2
				VF610_PAD_PTC10__ENET_RMII1_MDIO	0x30d3
				VF610_PAD_PTC11__ENET_RMII1_CRS		0x30d1
				VF610_PAD_PTC12__ENET_RMII1_RXD1	0x30d1
				VF610_PAD_PTC13__ENET_RMII1_RXD0	0x30d1
				VF610_PAD_PTC14__ENET_RMII1_RXER	0x30d1
				VF610_PAD_PTC15__ENET_RMII1_TXD1	0x30d2
				VF610_PAD_PTC16__ENET_RMII1_TXD0	0x30d2
				VF610_PAD_PTC17__ENET_RMII1_TXEN	0x30d2
			>;
		};

		/* -------------------------------------------------------------
		 * speed:		  high (200 MHz)
		 * slew rate:		  slow
		 * open drain:		  enabled
		 * hysteresis:		  Schmitt trigger
		 * drive strength:	  20 Ohm
		 * pull strength:	  22 kOhm pull-up
		 * pull / keeper:	  enabled
		 * pull / keeper select:  pull
		 * output buffer:	  enabled
		 * input buffer:	  enabled
		 */
		pinctrl_i2c0: i2c0grp {
			fsl,pins = <
				VF610_PAD_PTB14__I2C0_SCL		0x37ff
				VF610_PAD_PTB15__I2C0_SDA		0x37ff
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				VF610_PAD_PTB16__I2C1_SCL		0x37ff
				VF610_PAD_PTB17__I2C1_SDA		0x37ff
			>;
		};

		pinctrl_i2c2: i2c2grp {
			fsl,pins = <
				VF610_PAD_PTA22__I2C2_SCL		0x37ff
				VF610_PAD_PTA23__I2C2_SDA		0x37ff
			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				VF610_PAD_PTA30__I2C3_SCL		0x37ff
				VF610_PAD_PTA31__I2C3_SDA		0x37ff
			>;
		};

		pinctrl_pwm0: pwm0grp {
			fsl,pins = <
				VF610_PAD_PTB0__FTM0_CH0		0x1582
				VF610_PAD_PTB1__FTM0_CH1		0x1582
				VF610_PAD_PTB2__FTM0_CH2		0x1582
				VF610_PAD_PTB3__FTM0_CH3		0x1582
			>;
		};

		pinctrl_uart0: uart0grp {
			fsl,pins = <
				VF610_PAD_PTB10__UART0_TX		0x21a2
				VF610_PAD_PTB11__UART0_RX		0x21a1
			>;
		};

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				VF610_PAD_PTB23__UART1_TX		0x21a2
				VF610_PAD_PTB24__UART1_RX		0x21a1
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				VF610_PAD_PTD0__UART2_TX		0x21a2
				VF610_PAD_PTD1__UART2_RX		0x21a1
			>;
		};

		pinctrl_qspi0: qspi0grp {
			fsl,pins = <
				VF610_PAD_PTD7__QSPI0_B_QSCK		0x31c3
				VF610_PAD_PTD8__QSPI0_B_CS0		0x31ff
				VF610_PAD_PTD9__QSPI0_B_DATA3		0x31c3
				VF610_PAD_PTD10__QSPI0_B_DATA2		0x31c3
				VF610_PAD_PTD11__QSPI0_B_DATA1		0x31c3
				VF610_PAD_PTD12__QSPI0_B_DATA0		0x31c3
			>;
		};

		pinctrl_usb0_host: usb0-host-grp {
			fsl,pins = <
				VF610_PAD_PTD6__GPIO_85			0x62
			>;
		};
	};
};

&L2 {
	arm,data-latency = <2 1 2>;
	arm,tag-latency = <3 2 3>;
};

&pwm0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm0>;
	status = "okay";
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart0>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usbdev0 {
	disable-over-current;
	status = "okay";
	vbus-supply = <&usb0_vbus>;
	dr_mode = "host";
};

&usbh1 {
	disable-over-current;
	status = "okay";
};

&usbmisc0 {
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbphy0 {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&qspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi0>;
	fsl,nor-size = <0x10000000>;
	fsl,spi-num-chipselects = <2>;
	status = "okay";

	flash0: mt25ql02gc@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25ql02gc";
		spi-max-frequency = <66000000>;
		reg = <0>;

		partition@0 {
			label = "mt25ql02gc-0-uboot";
			reg = <0x0 0x0100000>;
		};

		partition2@100000 {
			label = "mt25ql02gc-0-dtb";
			reg = <0x0100000 0x0100000>;
		};

		partition3@200000 {
			label = "mt25ql02gc-0-kernel";
			reg = <0x0200000 0x0500000>;
		};

		partition4@700000 {
			label = "mt25ql02gc-0-rfs";
			reg = <0x0600000 0x8000000>;
		};
	};
};
