menu "USB Power Delivery and Type-C drivers"

config TYPEC_TCPM
	tristate "USB Type-C Port Controller Manager"
	depends on USB
	select TYPEC
	help
	  The Type-C Port Controller Manager provides a USB PD and USB Type-C
	  state machine for use with Type-C Port Controllers.

if TYPEC_TCPM

config TYPEC_TCPCI
	tristate "Type-C Port Controller Interface driver"
	depends on I2C
	select REGMAP_I2C
	help
	  Type-C Port Controller driver for TCPCI-compliant controller.

config TYPEC_WCOVE
	tristate "Intel WhiskeyCove PMIC USB Type-C PHY driver"
	depends on ACPI
	depends on INTEL_SOC_PMIC
	depends on INTEL_PMC_IPC
	depends on BXT_WC_PMIC_OPREGION
	help
	  Intel WhiskeyCove PMIC USB PHY Type-C driver that works with Type-C
	  Port Controller Manager to provide USB Power Delivery and USB Type-C
	  functionalities.

source "drivers/staging/typec/fusb302/Kconfig"

endif

endmenu
