config RESET_CONTROLLER
	bool
	help
	  Generic Reset Controller support.

	  This framework is designed to abstract reset handling of devices
	  via GPIOs or SoC-internal reset controller modules.

	  If unsure, say no.


menu "Reset Controllers"
	depends on RESET_CONTROLLER

source "drivers/reset/sti/Kconfig"

endmenu
